<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PZcepai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,82}}</string>
                <key>sourceSize</key>
                <string>{247,82}</string>
            </dict>
            <key>PokerIndex01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{39,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>PokerIndex01lai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{38,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,56}}</string>
                <key>sourceSize</key>
                <string>{38,56}</string>
            </dict>
            <key>PokerIndex02.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,425},{39,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>PokerIndex101.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,458},{35,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{35,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>PokerIndex101lai.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,439},{35,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,56}}</string>
                <key>sourceSize</key>
                <string>{35,56}</string>
            </dict>
            <key>PokerIndex102.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,522},{35,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{35,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>PokerIndex11.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,400},{37,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{37,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>PokerIndex111.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,524},{33,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{33,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>PokerIndex111lai.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,511},{33,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,56}}</string>
                <key>sourceSize</key>
                <string>{33,56}</string>
            </dict>
            <key>PokerIndex112.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,495},{33,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{33,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>PokerIndex11lai.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,420},{36,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,56}}</string>
                <key>sourceSize</key>
                <string>{36,56}</string>
            </dict>
            <key>PokerIndex12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,521},{37,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{37,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>PokerIndex121.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,502},{35,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{35,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>PokerIndex121lai.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,476},{34,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,56}}</string>
                <key>sourceSize</key>
                <string>{34,56}</string>
            </dict>
            <key>PokerIndex122.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,471},{35,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{35,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>PokerIndex21.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,483},{37,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{37,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>PokerIndex21lai.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,400},{36,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,56}}</string>
                <key>sourceSize</key>
                <string>{36,56}</string>
            </dict>
            <key>PokerIndex22.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,463},{37,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{37,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>PokerIndex31.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,543},{33,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{33,54}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>PokerIndex31lai.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,512},{33,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,54}}</string>
                <key>sourceSize</key>
                <string>{33,54}</string>
            </dict>
            <key>PokerIndex32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{33,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{33,54}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>PokerIndex41.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,476},{33,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{33,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>PokerIndex41lai.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,530},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
            <key>PokerIndex42.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,316},{33,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{33,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>PokerIndex51.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,432},{37,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{37,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>PokerIndex51lai.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,420},{36,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,55}}</string>
                <key>sourceSize</key>
                <string>{36,55}</string>
            </dict>
            <key>PokerIndex52.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,400},{37,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{37,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>PokerIndex61.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,559},{33,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{33,54}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>PokerIndex61lai.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,539},{33,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,54}}</string>
                <key>sourceSize</key>
                <string>{33,54}</string>
            </dict>
            <key>PokerIndex62.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,508},{33,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{33,54}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>PokerIndex71.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,422},{39,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>PokerIndex71lai.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,367},{39,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>PokerIndex72.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,374},{39,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>PokerIndex81.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,439},{35,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{35,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>PokerIndex81lai.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,513},{34,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,56}}</string>
                <key>sourceSize</key>
                <string>{34,56}</string>
            </dict>
            <key>PokerIndex82.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,118},{35,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{35,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>PokerIndex91.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,60},{35,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{35,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>PokerIndex91lai.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,477},{34,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,56}}</string>
                <key>sourceSize</key>
                <string>{34,56}</string>
            </dict>
            <key>PokerIndex92.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,2},{35,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{35,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>PokerMark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{107,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,123}}</string>
                <key>sourceSize</key>
                <string>{107,123}</string>
            </dict>
            <key>PokerTopMark.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,176},{76,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,88}}</string>
                <key>sourceSize</key>
                <string>{76,88}</string>
            </dict>
            <key>Pokerlaizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{71,75}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>Pokerlaizismall.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,574},{33,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>danwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,176},{104,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,171}}</string>
                <key>sourceSize</key>
                <string>{104,171}</string>
            </dict>
            <key>dawang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,201},{20,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,113}}</string>
                <key>sourceSize</key>
                <string>{20,113}</string>
            </dict>
            <key>paibei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{170,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{170,222}}</string>
                <key>sourceSize</key>
                <string>{172,222}</string>
            </dict>
            <key>paimian.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{172,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,222}}</string>
                <key>sourceSize</key>
                <string>{172,222}</string>
            </dict>
            <key>pokerColor0.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,342},{76,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{76,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>pokerColor1.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,344},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{76,76}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>pokerColor2.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,258},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,84}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>pokerColor3.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,254},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>pokerColorX0.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,492},{30,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,35}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>pokerColorX1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,594},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>pokerColorX2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,458},{32,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,35}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>pokerColorX3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,595},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{30,31}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>xiaowang.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,282},{116,167}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,167}}</string>
                <key>sourceSize</key>
                <string>{128,167}</string>
            </dict>
            <key>xiaowang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,86},{20,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,113}}</string>
                <key>sourceSize</key>
                <string>{20,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ded7cf4b761e0d3dbd5990a84fc8535:ec66a42ef4f78fdbc964365c85b097be:7091b912c8b6d40e279854fb79f668a3$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
