<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guangquan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,187},{194,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,187}}</string>
                <key>sourceSize</key>
                <string>{194,187}</string>
            </dict>
            <key>hengfu.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,0},{224,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,84}}</string>
                <key>sourceSize</key>
                <string>{224,84}</string>
            </dict>
            <key>in.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,381},{119,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,55}}</string>
                <key>sourceSize</key>
                <string>{119,55}</string>
            </dict>
            <key>lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,219},{99,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,50}}</string>
                <key>sourceSize</key>
                <string>{99,50}</string>
            </dict>
            <key>mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,401},{47,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,50}}</string>
                <key>sourceSize</key>
                <string>{47,50}</string>
            </dict>
            <key>rt.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,318},{99,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,38}}</string>
                <key>sourceSize</key>
                <string>{99,38}</string>
            </dict>
            <key>star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,224},{177,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,182}}</string>
                <key>sourceSize</key>
                <string>{177,182}</string>
            </dict>
            <key>ui_choukawutaidengglow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,381},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_choukawutaidengquan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,0},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>xingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,401},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>yhl.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{253,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,187}}</string>
                <key>sourceSize</key>
                <string>{253,187}</string>
            </dict>
            <key>yinghaile.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,150},{164,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,69}}</string>
                <key>sourceSize</key>
                <string>{164,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>win_big.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c33d2c7cbc29d615b2c78e3dbd4ee949:1/1$</string>
            <key>textureFileName</key>
            <string>win_big.png</string>
        </dict>
    </dict>
</plist>
